#container{
    text-align: center;
}

#local{
    text-align:right;
}
#alertUser{
    border:1px;

}
.errors {
    color: red;
}
#tablelogin {
    text-align:center;
    padding:1em;
}

#team, #chosen {
    border: 1px solid black;
}
#change{
    background:white;
    border: 1px solid black;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 25%;
    text-align: center;   
}
