#container {
	position:relative;    
    top:5%;
    text-align:center;
}
#todo {
    display:none;
}
table{
}
#search{
    text-align:right;
    position:relative;
    right:5%;
}
#add{
    text-align:right;
    position:relative;
    right:5%;
}
#alertUser{
    border:1px;
    
}
#fileUpload{
    position:static;
    
}
.errors {
    color: red;
}
#login-box {
    border:1px solid black;
    text-align:center;
}
#tablelogin {

    text-align:center;
    padding:1em;
    
}
#team, #chosen {
    border: 1px solid black;
}
#change{
    background:white;
    border: 1px solid black;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;   
}
